*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	background-color: black;
	color: white;
	font-size: 28px;
	padding: 28px;
}

header a{
	color: white;
	text-decoration: none;
}

.row{
	display: flex;
	justify-content: space-between;
}

.header__navigation{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.more-info{
	background-color: black;
	color: white;
	padding: 90px 0;
	text-align: center;
}

.more-info h2{
	font-size: 48px;
}

.more-info .row{
	justify-content: center;
	gap: 60px;
	flex-wrap: wrap;
}

.more-info img{
	width: 300px;
	margin: 30px 0;
}

h2 {
    padding: 60px;
}

footer {
    background-color: black;
    color: white;
    font-size: 28px;
    padding: 28px;
}

.container_footer {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.container_footer a {
    width: 40px;
    margin: 30px 0;
}

.container_footer img {
    width: 40px;
    margin: 30px 0;
}

.footer-social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.telegarm__info {
    padding: 90px 0;
    text-align: center;
}

.telegram__text h3 {
	font-size: 38px;
}

.telegram__text {
	width: 518px;
	height: 174px;
	padding-top: 90px;
	padding-bottom: 60px;
	padding-right: 20px;
	padding-left: 90px;
	padding: auto;
}

button {
	background-color: black;
	color: white;
	width: 330px;
	height: 45px;
	border-radius: 10px;
	margin-bottom: 90px;
	margin-top: 90px;
	margin-right: 372px;
	font-size: 18px;
}

.telegram__img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
	margin-top: -90px;
	text-align: end;
}

.track__item{
	height: calc(100dvh - 88px);
	width: 100vw;
	flex-shrink: 0;
}

.slider{
	overflow: hidden;
	position: relative;
}

.track{
	position: relative;
	transition: all 1.1s;
	left: 0;
}

.slider__dots{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 20px;
	left: 0;
	bottom: 20px;
}

.slider__dots li{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: white;
	opacity: 0.4;
	cursor: pointer;
}

.slider__dots li.active{
	opacity: 1;
}

.track__item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.top-game-info {
	padding: 90px 0;

}

h1 {
	text-align: center;
	width: 1200px;
	height: 58px;
	margin-bottom: 60px;
	font-size: 48px;
}

.top-game-img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
	margin-top: -380px;
	text-align: end;
}

.top-game-navigation {
	font-size: 25px;
	color: gray;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}